/* Background 1 Styling.  This background has the gears with the cubed pattern repeated */

.background-style-1 {
  background: url('/applications/apps/client_use/marketing_plans/assets/images/AdobeStock_354130260.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  isolation: isolate;
  position: relative;
  margin: 0;
  min-height: 100dvh;
  padding: var(--vertical-padding-1) var(--side-padding-1);
  display: grid;
  place-items: center;
}
@media (max-width: 1023px) {
  .background-style-1,
  .background-style-1::before {
    background-attachment: scroll;
  }
}

.background-style-1::before,
.background-style-1::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.background-style-1::before {
  background: url('/applications/apps/client_use/marketing_plans/assets/images/white-pattern-repeat.png');
  background-size: 48px;
  background-attachment: fixed;
  opacity: 0.25;
  z-index: -2;
}

.background-style-1::after {
  background: var(--overlay-1);
  z-index: -1;
  mix-blend-mode: luminosity;
}
