/* Button Styling */

.buttons-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--row-gap-1);
}

.button {
  cursor: pointer;
  padding: 1.375em 2em;
  background: url('/assets/images/MAG-Web_Button_Over.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  position: relative;
  isolation: isolate;
  min-width: min(20ch, 100%);
}

.button::before {
  content: '';
  position: absolute;
  top: var(--border-thickness-1);
  left: var(--border-thickness-1);
  width: calc(100% - calc(var(--border-thickness-1) * 2));
  height: calc(100% - calc(var(--border-thickness-1) * 2));
  background: var(--color-3);
  z-index: -1;
  transition: var(--transition-default);
}

.button-highlight-hover:hover::before,
.button-highlight::before {
  opacity: 0;
}
