:root {
    --color-1: #E3530F;
    --color-2: #101010;
    --color-3: #333333;
    --color-4: #008a00;
    --white: #ffffff;
    --black: #000000;
    --overlay-1: #010101b3;
    --overlay-2: #010101c2;
}