:root {
  --list-card-gap: 2.5em;
  --list-card-content-gap: 0.5em;
  --list-card-row-gap: 1em;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  font-size: inherit;
}

.lists-layouts {
  display: flex;
  flex-direction: column;
  gap: var(--list-card-gap);
}

.list-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--list-card-gap);
}

.list-item-styling {
  padding: var(--vertical-padding-2) var(--side-padding-2);
  border: 3px var(--color-1) solid;
  flex: 1 1 var(--content-text-small);
  max-width: var(--content-text-normal);
  background: var(--overlay-2);
  display: flex;
  flex-direction: column;
}

.list-item-styling :is(h2, h3, h4, .description, .key-features, .price) {
  text-align: center;
  text-wrap: balance;
  font-weight: 500;
}

.list-item-styling .title-price-description-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  min-height: 17em;
  align-items: center;
}

.list-item-styling .discount {
  text-align: center;
}

.list-items-styling .description {
    margin-top: auto;
}

.list-item-styling hr {
  height: 1px;
  border: 0px;
  background: var(--white);
  margin: 1em 0;
}

.key-features-list {
  display: flex;
  flex-direction: column;
  gap: var(--list-card-content-gap);
}

.key-features-list {
  margin-top: 0.75em;
  flex-grow: 1;
  justify-content: space-around;
}

.key-item-styling {
  display: flex;
  align-items: start;
  gap: var(--list-card-content-gap);
}

.key-item-styling::before {
  content: '';
  background: url('/applications/apps/client_use/marketing_plans/assets/icons/checkmark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  margin-top: 0.125em;
}

/* .prices-list {
    margin-top: 1.5em;
    container-type: inline-size;
    row-gap: var(--list-card-row-gap);
}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--list-card-row-gap);
}

.price {
    flex-shrink: 0;
}

@container(max-width: 38ch) {
    .price-item .button {
        padding: 0.75em 6cqw !important;
        min-width: 9ch;
    }
} */
