/* Do not change name of --height-transition-amount variable below.  It is used by javascript */

:root {
  --content-width: min(170ch, 100%);
  --content-width-small: min(90ch, 100%);
  --input-button-field-width: min(15rem, 100%);
  --output-calculation-width: min(15rem, 100%);
  --side-padding-1: clamp(20px, 2%, 3rem);
  --side-padding-2: clamp(16px, 2%, 2.5rem);
  --vertical-padding-1: 100px;
  --vertical-padding-2: 2em;
  --vertical-padding-3: 1em;
  --row-gap-1: 2em;
  --margin-y-1: 0.25em;
  --margin-y-2: 0.5em;
  --height-transition-amount: 100rem;
}

@media (max-width: 1024px) {
  :root {
    --height-transition-amount: 220rem;
  }
}
