/* Form inputs section styling */

.form-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--row-gap-1);
}

.form-section .field-input, .form-section .button {
    flex: 0 1 var(--input-button-field-width);
}

/* Field input styling */

.field-input {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    text-align: center;
    flex: 0 1 var(--input-button-field-width);
}
.field-input input:not([type='radio']),
.field-input select {
    color: var(--white);
    background: var(--overlay-1);
    padding: 0.5em 0.5em;
    border: var(--border-thickness-1) var(--color-1) solid;
    text-align: center;
    min-height: 3em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 100%;
}

.field-input .select-container {
    position: relative;
}

.field-input .select-container::after {
    content: '';
    position: absolute;
    width: 0.75em;
    height: 0.75em;
    background: url('/assets/logos/down-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
}

.field-input .radio-buttons-inputs {
    display: flex;
    flex-direction: column;
}

.field-input .radio-button-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.field-input input:focus,
.field-input select:focus {
    border-color: var(--white);
}

.field-input .field-error-text,
.field-input label {
    text-wrap: balance;
}

/* Form inputs section styling */

.form-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--row-gap-1);
}

.form-section .field-input,
.form-section .button {
    flex: 0 1 var(--input-button-field-width);
}